body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.darkGrey{
    color: #5D5C61;
}
.lightGrey{
    color: #379683;
}
.lightBlue{
    color: #7395AE;
}
.darkBlue{
    color: #557A95;
}
.tan{
    color: #B1A296;
}
.white{
    color: #ffffff;
}
.black{
    color: #000000;
}
.buttonB:hover {
    background-color: #557A95;
    color: white;
    width: 120px;
    height: 40px;
    outline: none;
    transition: .1s ease-in-out;
}

.buttonB {
    transition: .1s ease-in-out;
    border-radius: 4px;
    font-family: Georgia;
    font-size: 16px;
    border: 1px solid #557A95;
    background-color: white;
    width: 120px;
    height: 40px;
    outline: none;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    cursor: pointer !important;
}

.header{
    font-family: Georgia;
    font-size: 50px;
}

.input {
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    width: 160px;
    height: 32px;
    text-align: center;
}
