
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<div class="row">
    <p>Are you sure you want to delete?</p>
</div>
<div class="row">
    <button>Yes</button>
    <button>No</button>
</div>
