
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<br />
<br />
<div class="row offset-2">
    <div class="col-4">
        <input placeholder="Search"/>
        <p>drowpdown here!</p>
    </div>
    <div class="col-4">
        <button>Create</button>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Volume
        </th>
        <th>
            Amount in Inventory
        </th>
    </tr>
    <tr>
        <td>
            ***name***
        </td>
        <td>
            ***volume***
        </td>
        <td>
            ***amount****
        </td>
    </tr>
    
</table>