@model  BoxProblem.Data.BoxInventory
@{
    ViewData["Title"] = "Create";
}
<br />
<br />
<div class="row">
    <div class="col-12 header">
        Create
    </div>
</div>
<br />
<br />
<form action="Create" method="post">
    <div class="row">
        <div class="offset-2">
            <label>Weight: </label><input class="input" name="Weight" type="number" min="0"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label>Volume: </label><input class="input" name="Volume" type="number" min="0"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label>Liquid(Yes or No): </label><input class="input" name="CanHoldLiquid" type="checkbox" value="true" />
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label>Cost: </label><input class="input" name="Cost" type="number" step="any" min="0"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label>Amount in Inventory: </label><input class="input" name="InventoryCount" type="number" min="0"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-6">
            <input class="buttonB" type="submit" value="Create">
        </div>
    </div>
</form>