@model  BoxProblem.Data.BoxInventory
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form action="index" method="post">
    <div class="row">
        <div class="offset-2">
            <label>Weight: </label><input name="Weight" />
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label>Volume: </label><input name="Volume"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label>Liquid(Yes or No): </label><input name="CanHoldLiquid"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label>Cost: </label><input name="Cost"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label>Amount in Inventory: </label><input name="InventoryCount"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-6">
            <input type="submit">
            <input>Back
        </div>
    </div>
</form>