
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<div class="row">
    <div class="offset-2">
        <p>Weight: </p><input />
    </div>
</div>
<div class="row">
    <div class="offset-2">
        <p>Volume: </p><input/>
    </div>
</div>
<div class="row">
    <div class="offset-2">
        <p>Liquid(Yes or No): </p><input />
    </div>
</div>
<div class="row">
    <div class="offset-2">
        <p>Cost: </p><input />
    </div>
</div>
<div class="row">
    <div class="offset-2">
        <p>Amount in Inventory: </p><input />
    </div>
</div>
<div class="row">
    <div class="offset-6">
        <button>Create</button>
        <button>Back</button>
    </div>
</div>