@model  BoxProblem.Data.BoxInventory
@{
    ViewData["Title"] = "Create";
}
<div class="container topspace">
</div>
<form action="Create" method="post" class="bkg">
    <div class="row">
        <div class="col-12 headerbkg">
            Create
        </div>
    </div>
    <div class="container topspace2">
    </div>
    <div class="row">
        <div class="offset-2">
            <label class="label">Weight: </label><input class="input" name="Weight" type="number" />
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label class="label">Volume: </label><input class="input" name="Volume" type="number" />
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label class="label">Liquid(Yes or No): </label><input class="input2" name="CanHoldLiquid" type="checkbox" value="true" />
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label class="label">Cost: </label><input class="input" name="Cost" type="number" step="any" />
        </div>
    </div>
    <div class="row">
        <div class="offset-2">
            <label class="label">Amount in Inventory: </label><input class="input" name="InventoryCount" type="number" />
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="offset-6">
            <input class="buttonB" type="submit" value="Create"/>
        </div>
        <div class="buttonB">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</form>